<p>Welcome  <%= @user.user_name %> - level</p><br></br>


Here are your workouts this week: <br></br>
<ol type="1">
  <% @user.workouts.each_with_index do |workout, i|%>
    <li><%= link_to workout.name, workout_path(workout) %></li>
  <% end %>
</ol>

<br></br>
Here are your friends
Add new friends (only for a workout, 24 hours before. )


<br></br>

Create your own workout routine: <%= link_to "Add Workout", :controller => 'workouts', :action => 'new' %>
